<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/basicFragments :: head}"></div>
    <title>Registreren</title>
</head>
<body>
<div th:replace="~{fragments/basicFragments :: navbar}"></div>
<div class="container">

    <h1>Product wijzigen</h1>
    <form action="#" th:action="@{/admin/product/{id}(id= ${productid})}" method="post" th:object="${product}">
        <div class="col-md-5">
            <label class="col-form-label">Productnaam:
                <input class="form-control" type="text" th:field="*{productname}" /></label>
            <p th:if="${#fields.hasErrors('productname')}" class="alert alert-danger form-text" th:errorclass="error" th:errors="*{productname}"></p>
        </div>
        <div class="col-md-5">
            <label class="col-form-label">Beschrijving:
                <textarea class="form-control"  th:field="*{description}"></textarea></label>
            <p th:if="${#fields.hasErrors('description')}" class="alert alert-danger form-text" th:errorclass="error" th:errors="*{description}"></p>
        </div>

        <div class="col-md-5">
            <label class="col-form-label">Totaal aantal KG:
                <input class="form-control" type="number" th:field="*{totalKG}" /></label>
            <p th:if="${#fields.hasErrors('totalKG')}" class="alert alert-danger form-text" th:errorclass="error" th:errors="*{totalKG}"></p>
        </div>
        <br/>
        <div class="col-md-5">
            <label class="col-form-label">Totaal aantal verkocht:
                <input class="form-control" type="number" th:field="*{sold}" disabled></label>
            <p th:if="${#fields.hasErrors('totalKG')}" class="alert alert-danger form-text" th:errorclass="error" th:errors="*{sold}"></p>
        </div>
        <button class="btn btn-primary" type="submit">Opslaan</button>
    </form>
</div>

<div th:replace="~{fragments/basicFragments :: footer}"></div>
</body>
</html>