<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/basicFragments :: head}"></div>
    <title>Registreren</title>
</head>
<body>
<div th:replace="~{fragments/basicFragments :: navbar}"></div>
<div class="container">

    <h1>Product wijzigen</h1>
    <form action="#" th:action="@{/admin/product/{id}(id= ${productid})}" method="post" th:object="${product}">
        <div class="col-md-5">
            <label class="col-form-label">Productnaam:
                <input class="form-control" type="text" th:field="*{productname}" /></label>
            <p th:if="${#fields.hasErrors('productname')}" class="alert alert-danger form-text" th:errorclass="error" th:errors="*{productname}"></p>
        </div>
        <div class="col-md-5">
            <label class="col-form-label">Beschrijving:
                <textarea class="form-control"  th:field="*{description}"></textarea></label>
            <p th:if="${#fields.hasErrors('description')}" class="alert alert-danger form-text" th:errorclass="error" th:errors="*{description}"></p>
        </div>

        <div class="col-md-5">
            <label class="col-form-label">Totaal aantal KG:
                <input class="form-control" type="number" step="0.01" th:field="*{totalKG}" /></label>
            <p th:if="${#fields.hasErrors('totalKG')}" class="alert alert-danger form-text" th:errorclass="error" th:errors="*{totalKG}"></p>
        </div>
        <br/>
        <div class="col-md-5">
            <label class="col-form-label">Totaal aantal verkocht:
                <input class="form-control" type="number" step="0.01" th:field="*{sold}" disabled></label>
            <p th:if="${#fields.hasErrors('totalKG')}" class="alert alert-danger form-text" th:errorclass="error" th:errors="*{sold}"></p>
        </div>
        <button class="btn btn-primary" type="submit">Opslaan</button>
    </form>
    <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteOrderModal">
        Verwijderen
    </button>

    <div class="modal fade" id="deleteOrderModal" tabindex="-1" aria-labelledby="deleteOrderModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteOrderModalLabel">Product Verwijderen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Weet je zeker dat je dit product wilt verwijderen?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleren</button>
                    <a class="btn btn-danger" th:href="@{/admin/product/{id}/delete(id=${product.id})}">Verwijderen</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/basicFragments :: footer}"></div>
</body>
</html>