<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <div th:replace="~{fragments/basicFragments :: head}"></div>
    <title>Bestelling plaatsen</title>
</head>
<body>
<div th:replace="~{fragments/basicFragments :: navbar}"></div>
<div class="container">
    <figure class="text-center">
        <blockquote class="blockquote">
            <h1 th:text="${packet.packetname}"></h1>
        </blockquote>
    </figure>
    <div class="row">
        <div class="col-md-6">
            <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img th:src="@{/images/Packet1.jpg}"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name" th:text="${packet.packetname}"></h3>
                                <p class="profession" th:text="${'€' + packet.price}"></p>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> Bekijk Inhoud
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Eet varken, varken is lekker!"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Inhoud:</h4>
                                <p class="text-center" th:style="'white-space: pre-line;'" th:utext="${packet.contains}"></p>

                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                <i class="fa fa-reply"></i> Back
                            </button>
                          
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div>

        <div class="col-md-6">
            <h2 >Bevestig Bestelling voor <span th:text="${user}"></span></h2>
            <h2 th:unless="${user}">test</h2>

            <form action="#" th:action="@{/order/packet/{id}(id=${packet.id})}" th:object="${order}" method="post">
                <div class="col-md-5">
                    <label class="col-form-label">Email:
                        <input class="form-control" type="email" th:field="*{name}"/></label>
                    <p th:if="${#fields.hasErrors('name')}" class="alert alert-danger form-text" th:errorclass="error" th:errors="*{name}"></p>
                </div>
                <div class="col-md-5">
                    <label class="col-form-label">Tel nr.:
                        <input class="form-control" type="tel" th:field="*{phone}"/></label>
                    <p th:if="${#fields.hasErrors('phone')}" class="alert alert-danger form-text" th:errorclass="error" th:errors="*{phone}"></p>
                </div>
                <div class="form-check">
                    <label class="form-check-label">Ik geef toestemming voor het gebruik van mijn email en telnr voor administratie doeleinde.
                        <input class="form-check-input" id="permission" name="permission" onchange="toggleButton()" type="checkbox">
                        <p th:if="${#fields.hasErrors('delivered')}" class="alert alert-danger form-text" th:errorclass="error" th:errors="*{delivered}"></p>
                    </label>
                </div>
                <button class="btn btn-success" id="btn" type="submit" disabled="disabled">Bestel mar!</button>
            </form>

        </div>
    </div>
</div>
<script>

    $().ready(function(){
    $('[rel="tooltip"]').tooltip();

});
    function toggleButton() {
        var checkBox = document.getElementById("permission");
        var btn = document.getElementById("btn");

        if (checkBox.checked === true){
            btn.disabled = "";
        } else {
            btn.disabled = "disabled";
        }
    }

    function rotateCard(btn){
    var $card = $(btn).closest('.card-container');
    console.log($card);
    if($card.hasClass('hover')){
    $card.removeClass('hover');
} else {
    $card.addClass('hover');
}
}
</script>
<div th:replace="~{fragments/basicFragments :: footer}"></div>
</body>
</html>