<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/basicFragments :: head}"></div>
    <title>Home</title>
</head>
<body>
<div th:replace="~{fragments/basicFragments :: navbar}"></div>


<div class="hero-image">
    <div class="hero-text">
        <h1>'T is Verekes lekker!</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div th:each="product : ${products}" class="col-sm-6">

            <div class="card" >
                <div class="card-header">
                    <p class="card-text"><span th:text="${product.productname}"></span></p>
                </div>
                <div class="percentage_box">
                    <img class="img_gray" th:src="@{/images/pigtemplategray.png}"/>

                    <img class="img_fill" th:height="${100 /product.total * product.sold + '%'}" th:src="@{/images/pigtemplate.png}"/>
                </div>

                <div class="card-footer">
                    <p class="card-text">Verkocht(<span th:text="${product.sold}"></span>), Totaal (<span th:text="${product.total}"></span>) = <span th:text="(100 / ${product.total}) * ${product.sold}"></span> </p>
                    <a class="btn btn-success" th:href="@{/product/{id}(id=${product.id})}">Bekijk product</a>
                </div>
            </div>

        </div>
    </div>

    <div th:if="${products.isEmpty()}">
        <span> Er bestaan nog geen Producten </span>
    </div>

</div>


<div th:replace="~{fragments/basicFragments :: footer}"></div>
</body>
</html>
