@font-face {
    font-family: defaultFont;
    src: url(JosefinSans-Regular.ttf);
}
*{
    font-family: defaultFont, serif;
}
body{
    background: #E3F2FD;
}
.navbar-nav .nav-item .nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid dimgray;
}
.spacer{
    display: flex;
    justify-content: space-between;
}
/* The hero image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/banner.jpg");

    /* Set a specific height */
    height: 450px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}
.percentage_box{
    position: relative;
    display: inline-block;
    height: 400px;
}
.img_gray{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
 }
 .img_fill{
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 50%; /* Adjust this value to control the percentage height */
     object-fit: cover;
     object-position: bottom;
 }

@media (max-width: 768px) {
    /* Adjust font size for small screens */
    .navbar-nav .nav-link {
        font-size: 16px; /* Adjust as needed */
    }
    .doerecht{
        display: flex;
        flex-direction: row;
    }
    .hero-image{
        height: 250px;
    }
}
