<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <div th:replace="~{fragments/basicFragments :: head}"></div>
    <title>Home</title>
</head>
<body>
<div th:replace="~{fragments/basicFragments :: navbar}"></div>


<div class="hero-image">
    <div class="hero-text">
        <h1>'T is Verrekkes lekker!</h1>
    </div>
</div>

<div class="container">
    <div>
        <h3 class="text-center">Welkom:</h3>
        Op 6 juni 2024 gaat René voor de tweede keer meedoen aan de alpe d'huzes.<br/>
        Sandra en Irene gaan als vrijwilliger mee en lopen op 5 juni tijdens de alpe d'huzus naar boven.
        Wil je meer weten over het doel en onze sponsors kijk dan op de “ons doel" pagina.

        Je kunt ons op twee manieren sponsoren.<br/>
        <div style="padding-left: 30px">
            1. Je klikt op onderstaande link. Je komt dan op onze sponsor site.
            <a href="https://www.opgevenisgeenoptie.nl/fundraisers/ReneKlijn3956">Opgeven is geen optie.</a><br/>
            2. Je kunt ook op deze site vleespakketten en worstenbroodjes bestellen.
        </div>
        <p class="">Liever geen pakket maar los vlees bestellen? Klik dan hieronder!</p>
        <a class="btn btn-outline-success" href="https://surveyheart.com/form/65c676ba661e6a5ff5f02c51">Bestellijst</a>
        <br/>
        <h3 class="text-center">Nieuws:</h3>
        In verband met de grote belangstelling zijn de worstenbroodjes eerder op dan verwacht. Er worden op dit moment nieuwe gebakken. We zetten op de site wanneer ze er weer zijn.
        Vleespakketten en los vlees kun je gewoon ophalen.<br/><br/>
        <h3 class="text-center">Afhaalmomenten:</h3>
        <div style="padding-left: 30px">
            * Maandag tot vrijdag tussen 19.00 en 21.00 uur.<br/>
            * Zaterdag tussen 10.00 en 16.00 uur.<br/>
        </div>
        Andere tijden zijn mogelijk op afspraak. Mail dan naar <a href="mailto:pigrakkers@gmail.com">pigrakkers@gmail.com</a><br/>
        Afhaaladres: Hofsteeweg 3, Uden.<br/>
        Alle bestellingen moeten contant of met betaalverzoek afgerekend worden.<br/><br/>

        <br/>
    </div>
    <div class="row">
        <div th:each="product : ${products}" class="col-sm-6">

            <div class="card">
                <div class="card-header">
                    <p class="card-text"><span th:text="${product.productname}"></span></p>
                </div>
                <div class="percentage_box">
                    <img class="img_gray" th:src="@{/images/pigtemplategray.png}"/>

                    <img class="img_fill" th:height="${100 /product.totalKG * product.sold + '%'}" th:src="@{/images/pigtemplateFG.png}"/>
                </div>
                <div class="card-footer">
                    <p class="card-text">Dit varken is voor <span class="percentage" th:data-total-kg="${product.totalKG}" th:data-sold-kg="${product.sold}"></span> verkocht!</p>
                </div>

            </div>
        </div>

    <div th:if="${products.isEmpty()}">
        <span> Er bestaan nog geen Producten </span>
    </div>
        <div class="col-md-4 col-sm-6" th:each="packet : ${packets}" th:if="${packet.active}">
            <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img th:src="@{/images/Afbeelding{id}.JPG(id=${packet.imageID})}"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name" th:text="${packet.packetname}"></h3>
                                <p class="profession" th:text="${'€' + #numbers.formatDecimal(packet.price,2,2)}"></p>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> Bekijk Inhoud
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Eet varken, varken is lekker!"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Inhoud:</h4>
                                <p class="text-center" th:style="'white-space: pre-line;'" th:utext="${packet.contains}"></p>

                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                <i class="fa fa-reply"></i> Back
                            </button>
                            <div class="social-links text-center">
                                <a class="btn btn-success" th:href="@{/order/packet/{id}(id=${packet.id})}">Bestel!</a>

                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
    </div>
    <script>
        $().ready(function () {
            $('[rel="tooltip"]').tooltip();

        });

        function rotateCard(btn) {
            var $card = $(btn).closest('.card-container');
            console.log($card);
            if ($card.hasClass('hover')) {
                $card.removeClass('hover');
            } else {
                $card.addClass('hover');
            }
        }

            function roundPercentage(totalKG, soldKG) {

            return Math.round((soldKG / totalKG) * 100);

        }


            // Select all elements with the class "percentage"

            const percentages = document.querySelectorAll('.percentage');


            // Loop through each element and update the text with the rounded percentage

            percentages.forEach(percentageElement => {

            const totalKG = percentageElement.dataset.totalKg;

            const soldKG = percentageElement.dataset.soldKg;

            const roundedPercentage = roundPercentage(totalKG, soldKG);

            percentageElement.innerText = roundedPercentage + '%';

        });

    </script>

</div>


<div th:replace="~{fragments/basicFragments :: footer}"></div>
</body>
</html>
