<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <div th:replace="~{fragments/basicFragments :: head}"></div>
    <title>Home</title>
</head>
<body>
<div th:replace="~{fragments/basicFragments :: navbar}"></div>


<div class="hero-image">
    <div class="hero-text">
        <h1>'T is Verrekkes lekker!</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div th:each="product : ${products}" class="col-sm-6">

            <div class="card">
                <div class="card-header">
                    <p class="card-text"><span th:text="${product.productname}"></span></p>
                </div>
                <div class="percentage_box">
                    <img class="img_gray" th:src="@{/images/pigtemplategray.png}"/>

                    <img class="img_fill" th:height="${100 /product.totalKG * product.sold + '%'}" th:src="@{/images/pigtemplateFG.png}"/>
                </div>
                <div class="card-footer">
                    <p class="card-text">Dit varken is voor <span class="percentage" th:data-total-kg="${product.totalKG}" th:data-sold-kg="${product.sold}"></span> verkocht!</p>
                </div>

            </div>
        </div>

    <div th:if="${products.isEmpty()}">
        <span> Er bestaan nog geen Producten </span>
    </div>
        <div class="col-md-4 col-sm-6" th:each="packet : ${packets}">
            <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img th:src="@{/images/Packet1.jpg}"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name" th:text="${packet.packetname}"></h3>
                                <p class="profession" th:text="${'€' + packet.price}"></p>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> Bekijk Inhoud
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Eet varken, varken is lekker!"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Inhoud:</h4>
                                <p class="text-center" th:style="'white-space: pre-line;'" th:utext="${packet.contains}"></p>

                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                <i class="fa fa-reply"></i> Back
                            </button>
                            <div class="social-links text-center">
                                <a class="btn btn-success" th:href="@{/order/packet/{id}(id=${packet.id})}">Bestel!</a>

                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
    </div>
    <script>
        $().ready(function () {
            $('[rel="tooltip"]').tooltip();

        });

        function rotateCard(btn) {
            var $card = $(btn).closest('.card-container');
            console.log($card);
            if ($card.hasClass('hover')) {
                $card.removeClass('hover');
            } else {
                $card.addClass('hover');
            }
        }

            function roundPercentage(totalKG, soldKG) {

            return Math.round((soldKG / totalKG) * 100);

        }


            // Select all elements with the class "percentage"

            const percentages = document.querySelectorAll('.percentage');


            // Loop through each element and update the text with the rounded percentage

            percentages.forEach(percentageElement => {

            const totalKG = percentageElement.dataset.totalKg;

            const soldKG = percentageElement.dataset.soldKg;

            const roundedPercentage = roundPercentage(totalKG, soldKG);

            percentageElement.innerText = roundedPercentage + '%';

        });

    </script>

</div>


<div th:replace="~{fragments/basicFragments :: footer}"></div>
</body>
</html>
